
.chat-container {
  display: block;
  padding: 10px;
  width: 50%;
  height: 100%;
  background-color: lightgrey;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;

  .chat-card {
    display: flex;
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;

    &.new {
      background-color: lightgrey;
    }

    .user-image {
      height: 45px;
      width: 45px;
      display: flex;
      border: 1px solid black;
      border-radius: 50%;

      img.rounded {
        border-radius: 50%;
        width: 45px;
        height: 45px;
      }
    }

    .comment-details {
      display: flex;
      position: relative;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: stretch;
      margin: 0px 30px;

      .user-name {
        padding: 2px;
        color: purple;
        text-decoration: underline;
      }

      .comment-date {
        padding: 2px;
      }
    }

    .comment {
      display: flex;
      align-items: center;

      &.new {

        padding-left: 10px;
      }

      textarea {
        max-height: 70px;
        min-height: 50px;
        min-width: 400px;
        max-width: 700px;
      }
    }

    .btns-container {
      display: flex;
      margin: 0 10px;
      align-items: center;

      .btn {
        margin: 5px;
        height: 30px;
        padding: 8px;
        color: white;
        font-weight: bold;
        background-color: dodgerblue;
        border: none;
        border-radius: 2px;
        box-shadow: 0px 1px 5px 1px grey;

        &:hover {
          background-color: #57BAFF;
        }

        &:active {
          background-color: dodgerblue
        }
      }
    }

    &.child {
      margin-left: 40px;

      &.selected {
        background-color: darkgrey;
      }
    }

    &.selected {
      background-color: darkgrey;
    }
  }

}
