<div class="chat-container">
<!--  <pre>{{displayedData | json}}</pre>-->
  <div *ngFor="let entity of displayedData">
    <div class="chat-card" *ngIf="entity.parentCommentId === null" (click)="selectComment(entity)" [ngClass]="selectedComment === entity ? 'selected' : ''">
      <div class="user-image">
        <img class="rounded" src="./../../assets/images/{{entity.user?.id}}.jpg">
      </div>
      <div class="comment-details">
        <div class="user-name">{{entity.user?.displayName}}</div>
        <div class="comment-date">{{entity.createdAt | date}}</div>
      </div>
      <div *ngIf="!entity?.isEditing" class="comment">{{entity.txt}}</div>
      <div *ngIf="entity?.isEditing" class="comment"><input type="text" [(ngModel)]="entity.txt"></div>
      <div *ngIf="registeredUser.id === entity.user?.id" class="btns-container">
        <button (click)="editComment(entity)">EDIT COMMENT</button>
        <button (click)="deleteComment(entity)">DELETE COMMENT</button>
      </div>
    </div>

    <div *ngIf="entity.comments?.length > 0">
      <div class="chat-card child" *ngFor="let child of entity.comments " (click)="selectComment(child)" [ngClass]="selectedComment === child ? 'selected' : ''">
        <div class="user-image">
          <img class="rounded" src="./../../assets/images/{{child.user?.id}}.jpg">
        </div>
        <div class="comment-details">
          <div class="user-name">{{child.user?.displayName}}</div>
          <div class="comment-date">{{child.createdAt | date}}</div>
        </div>
        <div *ngIf="!child?.isEditing" class="comment">{{child.txt}}</div>
        <div *ngIf="child?.isEditing" class="comment"><input type="text" [(ngModel)]="child.txt"></div>
        <div *ngIf="registeredUser.id === child.user.id" class="btns-container">
          <button class="btn" (click)="editComment(child)">EDIT COMMENT</button>
          <button class="btn" (click)="deleteComment(child)">DELETE COMMENT</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="chat-container">
  <div class="chat-card new">
    <div class="user-image">
      <img class="rounded" src="./../../assets/images/{{registeredUser.id}}.jpg">
    </div>
    <div class="comment new"><textarea placeholder="Please add your comment here" [(ngModel)]="newComment"></textarea></div>
    <div class="btns-container">
      <button class="btn" (click)="submit()">SUBMIT</button>
    </div>
  </div>
</div>


